{% extends 'base.html.twig' %}

{% block title %}DataFoot - Contact{% endblock %}


{% block header %}
    <div id="contactheader">
        <header>
            <div class="container">
                <div class="header-top">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="full">
                                <div class="logo">
                                    <a href="{{ path('app_home') }}"><img src="../assets/images/logo.png" alt="#" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="right_top_section">
                                <!-- social icon -->
                                <ul class="social-icons pull-left">
                                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                    <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                                <!-- end social icon -->
                                <!-- button section -->
                                <ul class="login">
                                    <li class="login-modal">
                                        <a href="#" class="login"><i class="fa fa-user"></i>Login</a>
                                    </li>
                                    <li>
                                        <div class="cart-option">
                                            <a href="#"><i class="fa fa-shopping-cart"></i>Register</a>
                                        </div>
                                    </li>
                                </ul>
                                <!-- end button section -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="full">
                                <div class="main-menu-section">
                                    <div class="menu">
                                        <nav class="navbar navbar-inverse">
                                            <div class="navbar-header">
                                                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                </button>
                                                <a class="navbar-brand" href="#">Menu</a>
                                            </div>
                                            <div class="collapse navbar-collapse js-navbar-collapse">
                                                <ul class="nav navbar-nav">
                                                    <li class="active"><a href="{{ path('app_home') }}">Home</a></li>
                                                    <li><a href="{{ path('app_live') }}">Live</a></li>
                                                    <li><a href="{{ path('app_topbut') }}">Top Buts</a></li>
                                                    <li><a href="{{ path('app_top_assist') }}">Top Passes</a></li>
                                                    <li><a href="{{ path('app_contact') }}">contact</a></li>
                                                </ul>
                                            </div>
                                            <!-- /.nav-collapse -->
                                        </nav>
                                        <div class="search-bar">
                                            <div id="imaginary_container">
                                                <div class="input-group stylish-input-group">
                                                    <input type="text" class="form-control"  placeholder="Search" >
                                                    <span class="input-group-addon">
                                          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
{% endblock %}
{% block content %}

<section id="contant" class="mcontant main-heading team">
    <div class="row">
        <div class="container">
            <div class="contact">
                <div class="col-md-12">
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46006.430204851575!2d1.4038986837517802!3d43.88894250302064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ac1bd11c89c071%3A0x54838fc206b3d035!2s82370%20Nohic!5e0!3m2!1sfr!2sfr!4v1675078501720!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact-info">
                        <div class="kode-section-title">
                            <h3>Contact Info</h3>
                        </div>
                        <div class="kode-forminfo">
{#                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam aliquip..</p>#}
                            <ul class="kode-form-list">
                                <li>
                                    <i class="fa fa-home"></i>
                                    <p><strong>Address:</strong> 805 consectetur adipiscing elit, sed do eiusmod tempor</p>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <p><strong>Phone:</strong>  123 456 7890</p>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o"></i>
                                    <p><strong>Email:</strong> Info@sportyleague.com</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact-us">
                        <form method="post" class="comments-form" id="contactform">
                            <ul>
                                <li><input type="text" id="name" name="name" class="required" placeholder="Name *"></li>
                                <li><input type="text" id="email" name="email" class="required email" placeholder="Email *"></li>
                                <li><input type="text" name="address" id="address" placeholder="Address:"></li>
                                <li><textarea name="message" id="message" placeholder="Add your message"></textarea></li>
                                <li><input class="thbg-color" type="submit" value="send"></li>
                            </ul>
                            <div class="hidden-me" id="contact_form_responce">
                                <p></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    </div>
</footer>
<a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
<!-- ALL JS FILES -->
<script src="js/all.js"></script>
<!-- ALL PLUGINS -->
<script src="js/custom.js"></script>
{% endblock %}
